@model Tenant.Mvc.Core.Models.CatalogItemDetailsModel
@{
    ViewBag.Title = "Recommendation Details";
}

<!-- ------------------------------------------------------------------------------------------------------------------- -->
<!-- Heading Bar -->
<!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Concert Details</h1>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------- -->
<!-- Content -->
<!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="container">
    
    <div class="row spacer-25">
    </div>
    
    <!-- ------------------------------------------------------------------------------------------------------------------- -->
    <!-- Related Items -->
    <!-- ------------------------------------------------------------------------------------------------------------------- -->

    <div class="row">
        <div class="col-xs-8 no-padding">
            @if (Model.RelatedItems.Any())
            {
                <h3>People who attended concerts of @Model.Item.Name also attended concerts of:</h3>
                
                <div class="row">
                    @{ var items = Model.RelatedItems.ToArray(); }

                    @foreach (var item in items)
                    {
                        <div class="col-md-4">
                            <h3>
                                <a href="@Url.Action("Details", "Recommendation", new { Id = item.Id })" style="color: sienna;">@item.Name</a>
                            </h3>
                            <p style="color: darkgrey;">
                                @item.TitlesCount concerts available
                            </p>
                            <p>
                                <a class="btn btn-default buy-button" data-id="@item.Id" style="background-color: #e77a39;">Find Seats</a>
                            </p>
                        </div>
                    }
                </div>
            }
            else
            {
                <h3>No related recommendations available...</h3>
            }
        </div>
    </div>
</div>
