@model Tenant.Mvc.Models.ConcertsDB.Concert

@using Microsoft.Ajax.Utilities
@using Newtonsoft.Json;
@using Tenant.Mvc
@using Tenant.Mvc.Models.CustomersDB

@{
    ViewBag.Title = "Find Seats";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="banner">
                <div class="row">
                    <img src="~/Content/img/@WingtipTicketApp.Config.TenantEventTypeGenre/banner-01.jpg" class="img-responsive" style="width: 100%">
                </div>
                <div class="banner-findseats">
                    @if (Model != null && Model.Performer != null)
                    {
                        <div class="banner-caption"><span class="banner-splitter">@Model.Performer.ShortName</span> @Model.ConcertDate.ToString("dddd MMM. dd, yyyy h tt")</div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row row-underline-dark">
        <div class="col-xs-12 col-md-12">
            <h2>@Model.Venue.VenueName - @Model.ConcertName</h2>
            <h3>Details: @Model.Performer.ShortName</h3>
        </div>
    </div>

    <!-- Ticket quantity & section selection dialog -->
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Index", "FindSeats", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="col-xs-2">
                        <label>Quantity</label>
                    </div>
                    <div class="col-xs-1">
                        <select id="slctQuantity" name="slctQuantity" class="form-control">
                            @for (var i = 1; i <= 5; i++)
                            {
                                <option value="@i.ToString()">@i.ToString()</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="clearfix">
                </div>

                <div class="form-group">
                    <div class="col-xs-2">
                        <label>Price & Section</label>
                    </div>
                    <div class="col-xs-3">
                        <select id="slctPriceSection" name="slctPriceSection" class="form-control">
                            @foreach (var seatLevels in Model.Venue.VenueSeatSections)
                            {
                                <option value="@(seatLevels.TicketPrice + "|" + seatLevels.TicketLevelId)">$@seatLevels.TicketPrice: @seatLevels.TicketLevelDescription</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="pull-right">
                    @if ((Session["SessionUser"] as Customer) != null)
                    {
                        <button id="puchaseTicket" type="button" class="btn btn-themed-secondary pull-right">
                            Purchase tickets &#62;
                        </button>
                    }
                    else
                    {
                        <button id="loginUser" type="button" class="btn btn-themed-secondary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" data-backdrop="static" data-keyboard="false">
                            Sign in to purchase tickets &#62;
                        </button>
                    }
                </div>
            }
        </div>

        <div class="col-xs-12 img-div">

            <div class="col-xs-12 col-md-6">
                <img class="img-responsive" src="~/Content/img/@WingtipTicketApp.Config.TenantEventTypeGenre/floor-plan.jpg" />
            </div>

            <div id="documentdb-meta-parent" class=" col-xs-12 col-md-6">
                <div class="row row-underline-light">
                    <h2 class="pull-left">Venue</h2>
                </div>

                <div class="row">
                    <div class="col-xs-5">
                        <label class="pull-left">Name</label>
                    </div>
                    <div class="col-xs-7">
                        <label class="pull-right"> @Model.Venue.VenueName</label>
                    </div>
                </div>

                @if (ViewBag.VenueMetaData != null)
                {
                    <div id="documentdb-meta-template" class="row">
                        <div class="col-xs-5">
                            <label class="pull-left documentdb-meta-label"></label>
                        </div>
                        <div class="col-xs-7">
                            <label class="pull-right documentdb-meta-value"></label>
                        </div>
                    </div>

                }
            </div>
            @if (ViewBag.VenueMetaData != null)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <input type="button" value="Display JSON &#62;" class="btn btn-themed-secondary pull-right" data-toggle="modal" data-target="#myModal" />
                    </div>
                </div>
            }

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @if (ViewBag.VenueMetaData != null)
                            {
                                <pre style="text-align:left">@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.VenueMetaData, Formatting.Indented).ToString()</pre>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ticket purchase dialog -->
<div id="purchaseTicketModel" class="modal fade modal-tickets" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-8">
                        <img src="~/Content/img/@WingtipTicketApp.Config.TenantEventTypeGenre/ticketmaestro-logo.jpg" class="img-responsive pull-left">
                        <h1 class="logo-heading">@WingtipTicketApp.Config.TenantName.ToLower()</h1>
                    </div>
                    <div class="col-xs-4">
                        <h2 class="sub-heading">
                            Purchase tickets
                            <button type="button" class="btn-close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row clearfix">

                    <div class="col-sm-12 col-md-6 ticket-info">
                        <h3>Ticket Information</h3>

                        <ul>
                            <li>Event: @Model.ConcertName</li>
                            <li>Venue: @Model.Venue.VenueName</li>
                            <li>Date:  @String.Format("{0:D}", Model.ConcertDate)</li>
                        </ul>
                        <ul>
                            <li id="liTicketQuantity">Tickets: <span id="spanTicketQty"></span> General Admission</li>
                            <li id="liPrice">Total Cost: $<span id="spanTotal"></span></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 col-md-6 ticket-info">
                        @using (Html.BeginForm("PurchaseTicketsWithCreditCard", "FindSeats", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <input type="hidden" id="concertId" name="concertId" value="@Model.ConcertId" />
                            <input type="hidden" id="customerId" name="customerId" value="@((Session["SessionUser"] is Customer) ? (Session["SessionUser"] as Customer).CustomerId : 1)" />
                            <input type="hidden" id="ticketPrice" name="ticketPrice" value="1" />
                            <input type="hidden" id="ticketCount" name="ticketCount" value="1" />
                            <input type="hidden" id="seatMapId" name="seatMapId" value="1" />

                            <h3>Payment Information</h3>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name On Card">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Card Number (No Dashes)">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class="subscript hidden-xs">Expiration Date</label>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control">
                                        <option>Month</option>
                                        @{
                            for (var i = 1; i < 13; i++)
                                        {
                                        <option>@i</option>
                                        }
                                        }
                                    </select>

                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control">
                                        <option>Year</option>
                                        @{
                                        for (var i = 2015; i < 2021; i++)
                                        {
                                        <option>@i</option>
                                        }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Security Code">
                                </div>
                                <div class="col-xs-6">
                                    <button type="submit" id="buyTicketsWithCreditCard" name="buyTicketsWithCreditCard" class="btn btn-themed" style="width: 100%">
                                        Purchase Now
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Content/Scripts/jquery-1.9.1.min.js"></script>
<script>
    $( document ).ready(function() {
        $("#puchaseTicket").click(function()
        {
            // Get Values
            var priceOption = $("#slctPriceSection").val();
            var seatLevelId = priceOption.split("|")[1];

            var ticketQty = $("#slctQuantity").val();
            var ticketPrice = parseFloat(priceOption.split("|")[0]);
            var ticketTotal = (ticketPrice * ticketQty).toFixed(2);

            // Set Dialog Pricing
            $("#spanTicketQty").html(ticketQty);
            $("#spanTotal").html(ticketTotal);

            // Set Purchase Values
            $("#ticketCount").val(ticketQty);
            $("#ticketPrice").val(ticketPrice);
            $("#seatMapId").val(seatLevelId);

            // Show the Model
            $('#purchaseTicketModel').modal({
                keyboard: false,
                backdrop: 'static',
            });
        });
    });
</script>

@if (ViewBag.VenueMetaData != null)
{
    <script>
        (function () {
            var meta = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.VenueMetaData));
            meta = meta.Data;

            var template = $("#documentdb-meta-template");
            var parent = $("#documentdb-meta-parent");

            template.hide();
            template.remove();

            var AddItem = function(label, value){
                var clone = template.clone();
                clone.removeAttr("id");

                var labelField = clone.find(".documentdb-meta-label");
                labelField.text(label);

                var valueField = clone.find(".documentdb-meta-value");
                valueField.text(value);

                var removeButton = clone.find("input.documentdb-meta-remove");
                removeButton.on("click", function(){
                    var that = $(this);
                    var group = that.parents(".form-group");
                    group.slideUp("fast", function(){
                        group.remove();
                    });
                });

                parent.append(clone);
                clone.slideDown("fast");
            };

            console.log("Adding dynamic elements to the page from Document DB.");
            $.each(meta, function(key, value){
                AddItem(key, value);
            });
        })();
    
    </script>
}