<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - @Environment.MachineName </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        @Styles.Render("~/styles/bootstrap")
        @Styles.Render("~/styles/jquery")
        @Styles.Render("~/styles/powerbi")
        @Styles.Render("~/styles/site")

        <link href="@Href(string.Format("~/Content/Themes/{0}.css", WingtipTicketApp.Config.TenantEventType))" rel="stylesheet">
    </head>
    <body>

        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
        <!-- Header Section -->
        <!-- -------------------------------------------------------------------------------------------------------------------------- -->

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-xs-7">
                                <div>
                                    <a href="/Home/Index">
                                        <img class="logo-image pull-left" src="~/Content/Img/@WingtipTicketApp.Config.TenantEventType/ticketmaestro-logo.jpg" />
                                        <h1 class="logo-heading">@WingtipTicketApp.Config.TenantName.ToLower()</h1>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-4 no-padding-right">
                                @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "pull-right" }))
                                {
                                    <div class="input-group">
                                        <input id="search" name="search" type="search" class="form-control form-search" placeholder="SEARCH" value="@Request["search"]">
                                        <span class="input-group-btn">
                                            <button class="btn-search" type="submit"></button>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <nav class="navbar navbar-default menu-bar-default">
                                <div class="container-fluid no-padding">

                                    @using Tenant.Mvc                                    
                                    @using Tenant.Mvc.Core.Models
                                    @{
                                        var user = Session["SessionUser"] as CustomerModel;
                                    }
                                    
                                    <!-- -------------------------------------------------------------------------------------------------------------------------- -->
                                    <!-- Brand Toggle -->
                                    <!-- -------------------------------------------------------------------------------------------------------------------------- -->
                                    
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- -------------------------------------------------------------------------------------------------------------------------- -->
                                    <!-- Navigation Links -->
                                    <!-- -------------------------------------------------------------------------------------------------------------------------- -->

                                    <div class="collapse navbar-collapse menu-bar" id="navbar-collapse">
                                        <ul class="nav navbar-nav nav-menu">
                                            <li>
                                                @Html.ActionLink("HOME", "Index", "Home", null, @ViewBag.Title == "Home" ? new { @class = "active" } : null)
                                                <span class="menu-border"></span>
                                            </li>

                                            <li>
                                                @Html.ActionLink("CITY", "Index", "City", null, @ViewBag.Title == "Cities" ? new { @class = "active" } : null)
                                                <span class="menu-border"></span>
                                            </li>

                                            <li>
                                                @Html.ActionLink("VENUE", "Index", "Venue", null, @ViewBag.Title == "Venues" ? new { @class = "active" } : null)
                                                <span class="menu-border"></span>
                                            </li>

                                            @if (user != null && user.FirstName.CompareTo("admin") != 0)
                                            {
                                                <li>
                                                    @Html.ActionLink("MY EVENTS", "Index", "Events", null, @ViewBag.Title == "My Events" ? new { @class = "active" } : null)
                                                    <span class="menu-border"></span>
                                                </li>                                            
                                            }

                                            @if (user != null && user.FirstName.CompareTo("admin") == 0)
                                            {
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ADMIN <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="@Url.Action("Index", "VenueAdministration")" class="nav-menu-dropdown-item">Venue Administration</a></li>
                                                        <li><a href="@Url.Action("Index", "EventAdministration")" class="nav-menu-dropdown-item">Event Administration</a></li>
                                                        <li><a href="@Url.Action("Index", "Reports")" class="nav-menu-dropdown-item">Reports</a></li>
                                                    </ul>
                                                    <span class="menu-border"></span>                                                
                                                </li>                                            
                                            }

                                            <li>
                                                @Html.ActionLink("RECOMMENDATIONS", "Index", "Recommendation", null, @ViewBag.Title == "Recommendation Index" ? new { @class = "active" } : null)
                                            </li>

                                        </ul>

                                        <ul class="nav navbar-nav nav-menu navbar-right">
                                            @if (user != null && Startup.SessionUsers.Contains(user))
                                            {
                                                <li>
                                                    @Html.ActionLink("WELCOME " + user.FirstName.ToUpper() + " [SIGN OFF]", "Logout", "Account", new { }, new { @class = "no-padding" })
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="#" class="no-padding" data-toggle="modal" data-target=".bs-example-modal-lg" data-backdrop="static" data-keyboard="false">My Account [SIGN IN]</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
        <!-- Content Section -->
        <!-- -------------------------------------------------------------------------------------------------------------------------- -->

        <div class="content">

            @RenderBody()

            <div class="row spacer-50">
            </div>
        </div>

        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
        <!-- Footer Section -->
        <!-- -------------------------------------------------------------------------------------------------------------------------- -->

        <footer>
            <div class="top-footer" style="padding:20px 0;">
                <div class="container ">
                    <div class="row">

                        <div class="col-xs-4 ">
                            <img src="~/Content/img/@WingtipTicketApp.Config.TenantEventType/icon-eventsguide.jpg" />
                            <h2 class="top-footer-h2">Event Guides</h2>
                            <h3 class="top-footer-h3 hidden-xs"><a href="#"><strong>See All Guides ></strong></a></h3>
                            <p class="top-footer-p hidden-xs ">Find the events that best suit <br />your interests.</p>
                        </div>

                        <div class=" col-xs-4">
                            <img src="~/Content/img/@WingtipTicketApp.Config.TenantEventType/icon-bargain.jpg" />
                            <h2 class="top-footer-h2">Bargain <span class="hidden-xs inline-blk">Hunting</span></h2>
                            <h3 class="top-footer-h3 hidden-xs"><a href="#">View the Bargains ></a></h3>
                            <p class="top-footer-p hidden-xs">2 For 1 tickets, multi-packs, and cheap <br />tickets: find them now.</p>
                        </div>

                        <div class="col-xs-4 ">
                            <img src="~/Content/img/@WingtipTicketApp.Config.TenantEventType/icon-season.jpg" />
                            <h2 class="top-footer-h2">Festival Season</h2>
                            <h3 class="top-footer-h3 hidden-xs"><a href="#">See All Festivals ></a></h3>
                            <p class="top-footer-p hidden-xs">It's festival season! Tickets, Photos, <br />and more.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="btm-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="col-xs-6">
                                <div>
                                    <img class="logo-image pull-left" src="~/Content/Img/@WingtipTicketApp.Config.TenantEventType/ticketmaestro-logo.jpg" />
                                    <h1 class="logo-heading"><span>@WingtipTicketApp.Config.TenantName.ToLower()</span></h1>
                                </div>
                            </div>

                            <div class="col-xs-6 pull-right footer-menu">
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <a href="#">Terms</a>
                                        <span class="btm-footer-item-border"></span>
                                        <a href="#">Privacy</a>
                                        <span class="btm-footer-item-border"></span>
                                        <a href="#">Help</a>
                                        <span class="btm-footer-item-border"></span>
                                        <a href="#">About</a>
                                    </div>
                                </div>
                                <div class="spacer-10">

                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <p>
                                            &copy; @DateTime.Now.Year @WingtipTicketApp.Config.TenantName.ToLower(). All rights reserved.<br />
                                            <b>TenantDatabaseServer:</b> @WingtipTicketApp.Config.TenantDatabaseServer.ToLower().<br />
                                            <b>SiteHost:</b>  @WingtipTicketApp.Config.TenantName.ToLower()
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
        <!-- Login/Registration Modal -->
        <!-- -------------------------------------------------------------------------------------------------------------------------- -->

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-8">
                                <img src="~/Content/img/@WingtipTicketApp.Config.TenantEventType/ticketmaestro-logo.jpg" class="img-responsive pull-left">
                                <h1 class="logo-heading">@WingtipTicketApp.Config.TenantName.ToLower()</h1>
                            </div>
                            <div class="col-xs-4">
                                <h2 class="sub-heading">
                                    My Account
                                    <button type="button" class="btn-close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row">

                            <div class="col-xs-6">
                                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                {
                                    <h3 class="form-heading">Returning Users</h3>

                                    <div class="form-group">
                                        <input type="email" class="form-control" name="loginUsername" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="loginPassword" placeholder="Password">
                                    </div>

                                    <div>
                                        <a href="#">Forgot Password?</a>
                                    </div>

                                    <button type="submit" class="btn btn-block btn-themed" id="currentCustomerRegistration" name="currentCustomerRegistration" data-backdrop="static" data-keyboard="false">Sign In</button>
                                }
                            </div>

                            <div class="col-xs-6">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                                {
                                    <h3 class="form-heading">New Account</h3>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="firstName" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="confirmEmail" placeholder="Confirm Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phonenumber" placeholder="Phone Number">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
                                    </div>

                                    <button type="submit" class="btn btn-block btn-themed" id="newCustomerRegistration" name="newCustomerRegistration">Create Account</button>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
        <!-- Confirmation Modal -->
        <!-- -------------------------------------------------------------------------------------------------------------------------- -->

        <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" @*aria-labelledby="ConfirmationModal"*@ @*aria-hidden="true"*@>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-8">
                                <h1 id="AlertHeading" class="logo-heading" style="padding: 0px; height: 40px;">Confirmation</h1>
                            </div>
                            <div class="col-xs-4">
                                <h2 class="sub-heading" style="padding: 5px">
                                    <button type="button" class="btn-close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row">

                            <div class="col-xs-12">
                                <p id="AlertMessage"></p>
                                <button type="button" class="btn btn-block btn-themed" id="currentCustomerRegistration" name="currentCustomerRegistration" data-dismiss="modal" data-backdrop="static" data-keyboard="false">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
        <!-- Scripts Section -->
        <!-- -------------------------------------------------------------------------------------------------------------------------- -->
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/powerbi")

        @RenderSection("scripts", required: false)

        <script language="javascript" type="text/javascript">

            $(document).ready(function () {
                $('.selectpicker').selectpicker();

                $('#search').autocomplete({
                    source: "@Url.Action("AutoCompleteEvents", "Home")"
                });
            });

            function showAlert(heading, message)
            {
                $('#AlertHeading').html(heading);
                $('#AlertMessage').html(message);
                $('#AlertModal').modal('show');
            }

        </script>

        @Html.Raw(TempData["msg"])
        <script src="https://msdemoanalytics.azurewebsites.net/scripts/telemetry.js"></script>
        <script>
        MS.DemoTelemetry.sendDemoTelemetry('https://msdemoanalytics.azurewebsites.net/api/telemetry', {
            demoName: 'Wingtips Tickets',
            tags: {
                Products: ['SQL Server 2016', 'Azure PowerShell', '.NET', 'Azure'],
                Audience: ['Developer']
            }
        });
        </script>
    </body>
</html>
