@model Tenant.Mvc.Models.EventListView
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="banner">
                <div class="row">
                    <img src="~/Content/img/@WingtipTicketApp.Config.TenantEventTypeGenre/banner-01.jpg" class="img-responsive" style="width: 100%">
                </div>
                <div class="banner-home-left">
                    @if (Model != null && Model.ConcertsList != null && Model.ConcertsList.Count > 0)
                    {
                        <div class="banner-caption"><span class="banner-splitter">@Model.ConcertsList[0].Performer.ShortName</span> @Model.ConcertsList[0].ConcertName</div>
                    }
                </div>
                <div class="banner-home-right">
                    @if (Model != null && Model.ConcertsList != null && Model.ConcertsList.Count > 0)
                    {
                        @Html.ActionLink("Find Seats", "Index", "FindSeats",  new { concertId=@Model.ConcertsList[0].ConcertId }, new { @Class = "" })
                    }
                    else
                    {
                        @Html.ActionLink("Find Seats", "Index", "FindSeats", new { concertId = 0 }, new { @Class = "" })
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="row spacer-25">
    </div>

    <div class="row">
        <div class="col-xs-8 no-padding">
            <div class="event-panel">
                @{
                    if (Model != null && Model.ConcertsList != null)
                    {
                        var concertIndex = 0;

                        foreach (var concert in Model.ConcertsList)
                        {
                            <div class="event-block">
                                <div class="@((concertIndex % 2) == 0 ? "event-date" : "event-date event-date-shaded")">
                                    <span class="event-date-top">@concert.ConcertDate.ToString("MMM").ToUpper()</span><br />
                                    <span class="event-date-mid">@concert.ConcertDate.Day</span><br />
                                    <span class="event-date-btm">@concert.ConcertDate.DayOfWeek.ToString().ToUpper().Substring(0, 3)</span><br />
                                </div>

                                <div class="event-info">
                                    <h3 class="event-performer">@(((concert.Performer != null) && (concert.Performer != null)) ? (concert.Performer.ShortName) : "???")</h3>
                                    <p class="event-venue">@(((concert.Venue != null) && (concert.Venue.VenueName != null)) ? (concert.Venue.VenueName) : "???")</p>
                                </div>

                                <div class="event-button">
                                    @Html.ActionLink("Find Seats", "Index", "FindSeats", new { concertId = concert.ConcertId }, new { @class = "btn btn-themed-secondary" })
                                </div>
                            </div>

                            concertIndex++;
                        }
                    }
                }
            </div>
        </div>

        <div class="col-xs-4">
            
            <div class="row box-light">
                <h3>
                    <span class="box-light-splitter">my</span>@WingtipTicketApp.Config.TenantName.ToLower()
                </h3>

                <p>Update your list of favorites and <br/>never miss an event!</p>

                @using Tenant.Mvc
                @using Tenant.Mvc.Models.CustomersDB
                @{
                    var user = Session["SessionUser"] as Customer;
                    if (user != null && Startup.SessionUsers.Contains(user))
                    {
                        @Html.ActionLink("Sign Off", "Logout", "Account", new { }, new { @class = "btn btn-themed-secondary", @style = "width: 100%" })
                    }
                    else
                    {
                        <a href="#" class="btn btn-themed-secondary" style="width: 100%" data-toggle="modal" data-target=".bs-example-modal-lg">Sign In</a>
                        <a href="#" class="btn btn-themed-secondary" style="width: 100%" data-toggle="modal" data-target=".bs-example-modal-lg">Create Account</a>
                    }
                }
            </div>

            <div class="row box-dark">
                <h3>Local Venues</h3>

                <ul>
                    @{
                        if (Model != null && Model.VenuesList != null && Model.VenuesList.Count > 0)
                        {
                            foreach (var venue in Model.VenuesList.OrderBy(a => a.VenueName).GroupBy(a => a.VenueId).Select(a => a.First()).Take(2))
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Venue", new { venueId = venue.VenueId })">@venue.VenueName - @Model.ConcertsList.Count(a => a.VenueId == venue.VenueId) Event(s)</a>
                                </li>
                            }
                        }
                    }

                    <li><a href="@Url.Action("Index", "Venue")">See All Venues ></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>