@model Tenant.Mvc.Models.VenuesDB.VenueMetaData

@using Tenant.Mvc.Models.VenuesDB
@{
    ViewBag.Title = "Venue Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle-strip">
    <div class="container">
        <div class="row">
            <h1 class="seattle_ultramode">Venue Administration Portal</h1>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-g-12 ">
                <form class="venue-form" role="form" method="POST" action="~/Home/AddVenue">                 
                    <h2 class="head">Venue</h2>
                    
                    @*Name*@
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <label class="label-name">Name</label>
                    </div>
               
                    <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm">
                        <select id="slctVenue" name="slctVenue">
                            @*@foreach (Venue venue in Model.VenueList)
                            {
                            <option value="@venue.VenueId" @(Model.VenueId == venue.VenueId ? "selected" : "")>@venue.VenueName</option>
                            }*@
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-2 PNONE1">
                        <label class="label-name">Has Camping</label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <input id="chkHasCamping" type="checkbox" value="@Model.HasCamping" name="chkHasCamping">
                    </div>
                    <div class="clearfix"></div>
                    @*Seat*@
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <label class="label-name">Seat</label>
                    </div>
                    <div class="form-group col-sm-5 col-xs-12  PNONE1">
                        <input class="form-control" id="venueSeat" placeholder="Seats " type="text"
                               name="venueSeat" value="@Model.Seats">
                        
                    </div>
                    <div class="form-group col-xs-12 col-sm-2 PNONE1">
                        <label class="label-name">Multiple Stages</label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <input id="chkMultipleStages" type="checkbox" value="@Model.MultipleStages" name="chkMultipleStages">
                    </div>
                    <div class="clearfix"></div>
                    @*Parking Space*@
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <label class="label-name">Parking Space</label>
                    </div>
                   
                    <div class="form-group col-sm-5 col-xs-12 PNONE1">
                        <input class="form-control" id="venueParkingSpace" placeholder="Parking Space" type="text"
                               name="venueParkingSpace" value="@Model.Parking">
                    </div>
                    <div class="clearfix"></div>
                    @*Artist*@
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <label class="label-name">Artist</label>
                    </div>
                    <div class="form-group col-sm-5 col-xs-12  PNONE1" >
                        <input class="form-control" id="venueArtistName" placeholder="Artist Name" type="text"
                               name="venueParkingSpace" style="width:116px; height:40px; display:inline-block">

                        <input class="form-control" id="venueArtistGenre" placeholder="Artist Genre" type="text"
                               name="venueArtistGenre" style="width:116px; height:40px; display:inline-block">
                        <button class="btn btn-sm" style="width:105px; height:40px; display:inline-block; color:#555"><span class="glyphicon glyphicon-plus"></span> &nbsp; Add More</button>
                    </div>
                    <div class="clearfix"></div>
                    @*Additional*@
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <label class="label-name">Additional</label>
                    </div>
                    <div class="form-group col-sm-5 col-xs-12  PNONE1">
                        <textarea form-control textarea-style id="venueAdditional" placeholder="Additional Information"
                                  name="venueAdditional" style="width:300px; height:150px" > </textarea>
                    </div>
                    <div class="clearfix"></div>
                    @*Submit Button*@
                    <div class="form-group col-xs-12 col-sm-12 PNONE1">                       
                        <button type="submit" class="btn btn-default pull-right btn1 MRR-sm add-dlt-ev" id="addVenue" name="addVenue"
                                @(((Model.VenueId > 0)) ? "disabled" : "")>
                            Add to DocumnetDb &#62;
                        </button>

                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
  
    //$('#slctVenue').change(function () {
    //    window.location.href = 'VenueAdministration?venueId=' + $(this).val();
    //});
    
</script>




