@model Tenant.Mvc.Models.ReportsViewModel

@{
    ViewBag.Title = "Reports";
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Reports:</h1>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="row spacer-25">
    </div>

    <div class="row">
        <div class="col-xs-12 no-padding">

        @using (Html.BeginForm("Index", "Reports", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Available Reports:</label>
                        @Html.DropDownListFor(model => model.SelectedReportId, @Model.Reports, new { @class = "form-control", style = "width: 200px; margin-left: 10px;" })
                    </div>

                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-default btn-themed-secondary" style="margin-bottom: 0px;">Show Report</button>
                        <button type="button" class="btn btn-info" style="margin-bottom: 0px;" onclick="UpdateDefaultReport()">Set as Default</button>
                        <a href="@Url.Action("Upload", "Reports")" class="btn btn-info" style="margin-bottom: 0px;">Upload Report</a>
                    </div>
                </div>
            </div>
        }

        </div>
    </div>

</div>

@{
    if (Model.Report != null)
    {
        <div class="row">
            <div class="col-xs-12">
                @Html.PowerBIReportFor(m => m.Report, new { style = "height:85vh", powerbi_access_token = Model.AccessToken })
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class=" col-xs-12">
                    <text>Report not Found!!!</text>
                </div>
            </div>
        </div>
    }
}

<!-- -------------------------------------------------------------------------------------------------------------------------- -->
<!-- Script Section -->
<!-- -------------------------------------------------------------------------------------------------------------------------- -->
@section Scripts
{
<script type="text/javascript" language="javascript">

    function UpdateDefaultReport() {
        var selectedReportId = $("#SelectedReportId").val();
        var selectedReportText = $("#SelectedReportId option:selected").text();

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateDefaultReport", "Reports")',
            data: { reportId: selectedReportId },
            dataType: "json",
            success: function () {
                showAlert("Confirmation", "The <strong>'" + selectedReportText + "'</strong> report has been set as the default");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
            }
        });
    }

</script>
}
