@model Tenant.Mvc.Models.ReportsViewModel

@{
    ViewBag.Title = "Reports";
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Reports:</h1>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="row spacer-25">
    </div>

    <div class="row">
        <div class="col-xs-12 no-padding">

            @using (Html.BeginForm("Index", "Reports", FormMethod.Post, new { @class = "form-inline" }))
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Available Reports:</label>
                            @Html.DropDownListFor(model => model.SelectedReportId, @Model.Reports, new { @class = "form-control", style = "width: 200px; margin-left: 10px;" })
                        </div>

                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-default btn-themed-secondary" style="margin-bottom: 0px;">Show Report</button>
                            <button type="button" class="btn btn-info" style="margin-bottom: 0px;" onclick="UpdateDefaultReport()">Set as Default</button>
                            <a href="@Url.Action("Upload", "Reports")" class="btn btn-info" style="margin-bottom: 0px;">Upload Report</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>


@{
    if (Model.Report != null)
    {
        if (Model.Report.Name == @WingtipTicketApp.Config.ReportName)
        {
            <div class="row">
                <div class="col-xs-10">
                    @Html.PowerBIReportFor(m => m.Report, new { id = "pbi-report", style = "height:85vh", @powerbi_access_token = Model.AccessToken })
                </div>
                <div class="col-xs-2">
                    <h3>Optimize Seats</h3>

                    <label>Select a discount price</label>

                    <div class="itemRow">
                        @Html.RadioButton("DiscountRate", "10") %10
                    </div>
                    <div class="itemRow">
                        @Html.RadioButton("DiscountRate", "20") %20
                    </div>
                    <div class="itemRow">
                        @Html.RadioButton("DiscountRate", "30") %30
                    </div>

                    <button type="button" class="btn btn-info" style="margin-bottom: 0px;" onclick="ApplyDiscount()">Apply</button>

                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-12">
                    @Html.PowerBIReportFor(m => m.Report, new { id = "pbi-report", style = "height:85vh", @powerbi_access_token = Model.AccessToken })
                </div>
            </div>
        }
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class=" col-xs-12">
                    <text>Report not Found!!!</text>
                </div>
            </div>
        </div>
    }
}

<!-- -------------------------------------------------------------------------------------------------------------------------- -->
<!-- Script Section -->
<!-- -------------------------------------------------------------------------------------------------------------------------- -->
@section Scripts
{
    <script type="text/javascript" language="javascript">

        var selectedSeat;
        var venue;

        $(function () {
            // For complete list of embed configuration see the following wiki page
            // https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details
            var reportConfig = {
                settings: {
                    filterPaneEnabled: true
                }
            };
            var reportElement = document.getElementById('pbi-report');

            // Embed report
            // https://microsoft.github.io/PowerBI-JavaScript/classes/_src_service_.service.html#embed
            var report = powerbi.embed(reportElement, reportConfig);

            var pages = [];
            var pageIndex = 0;
            var currentPage = null;

            // For a complete guide to event handling see the following wiki page
            // https://github.com/Microsoft/PowerBI-JavaScript/wiki/Handling-Events
            report.on('loaded',
                function () {
                    // Get report pages
                    // https://microsoft.github.io/PowerBI-JavaScript/classes/_src_report_.report.html#getpages
                    report.getPages()
                        .then(function (reportPages) {
                            pages = reportPages;
                        });
                });

            // Handling pageChanged event
            // https://microsoft.github.io/PowerBI-JavaScript/classes/_src_report_.report.html#on
            report.on('pageChanged',
                function (e) {
                    currentPage = e.detail.newPage;

                    if (pages.length === 0) {
                        return;
                    }

                    pageIndex = pages.findIndex(function (el) {
                        return el.name === e.detail.newPage.name;
                    });
                });

            report.on('dataSelected',
                function (event) {
                    selectedSeat = event.detail.dataPoints[0].identity[0].equals;
                    venue = event.detail.dataPoints[0].identity[1].equals;
                });

            // For a complete guide to page navigation see the following wiki page
            // https://github.com/Microsoft/PowerBI-JavaScript/wiki/Page-Navigation
            function changePage(direction) {
                var nextPageIndex = pageIndex + direction;
                if (nextPageIndex < 0) nextPageIndex = pages.length - 1;
                if (nextPageIndex >= pages.length) nextPageIndex = 0;

                pages[nextPageIndex].setActive();
            }
        });

        function UpdateDefaultReport() {
            var selectedReportId = $("#SelectedReportId").val();
            var selectedReportText = $("#SelectedReportId option:selected").text();

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateDefaultReport", "Reports")',
                data: { reportId: selectedReportId },
                dataType: "json",
                success: function () {
                    showAlert("Confirmation", "The <strong>'" + selectedReportText + "'</strong> report has been set as the default");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    debugger;
                }
            });
        }

        function ApplyDiscount() {
            var discountRate = $('input[name=DiscountRate]:checked').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("ApplyDiscount", "Reports")',
                data: { discount: discountRate, seatDescription: selectedSeat, venue: venue },
                dataType: "json",
                success: function () {
                    showAlert("Confirmation", "A discount of %<strong>'" + discountRate + "'</strong> has been applied to <strong>'" + selectedSeat + "'</strong>.");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    debugger;
                }
            });
        }


    </script>
}
