@using Promotions.Models
@model CatalogItemDetailsModel
@{
    ViewBag.Title = "Music Label Details";
}
@if (Model._relatedItems.Any())
{
    <h2>People who attended concerts of @Model._item.Name also attended concerts of:</h2>
    <div class="row">
        @{ var items = Model._relatedItems.ToArray(); }
        @foreach (var item in items)
        {
            <div class="col-md-4">
                <h3>
                    <a href="@Url.Action("Details", "Home", new {Id = item.Id})" style="color: sienna;">@item.Name</a>
                </h3>
                <p style="color: darkgrey;">@item.TitlesCount concerts available</p>
                <p>
                    <a class="btn btn-default buy-button" data-id="@item.Id" style="background-color: #e77a39;">Find Seats</a>
                </p>
            </div>
        }
    </div>
}
