@using Promotions.Models
@model CatalogModel
@{
    ViewBag.Title = "Home Page";
}

<!-- ======================================================================= -->
<!-- Recommendations -->
<!-- ======================================================================= -->

@if (@User.Identity.IsAuthenticated)
{
    <h2 style="color: grey;">Top Recommendations for @User.Identity.Name:</h2>
    <br />
    
    if (Model._recommendedItems.Any())
    {
        <div class="row">
            @{ var recommendedItems = Model._recommendedItems.ToArray(); }
            @foreach (var item in recommendedItems)
            {
                <div class="col-md-4">
                    <h3>
                        <a href="@Url.Action("Details", "Home", new { Id = item.Id })" style="color: sienna;">@item.Name</a>
                    </h3>
                    <p style="color: darkgrey;">@item.TitlesCount Concerts available</p>
                    <p>
                        <a class="btn btn-default buy-button" data-id="@item.Id" style="background-color: #e77a39;">Find Seats</a>
                    </p>
                </div>
            }
        </div>
    }
    else
    {
        <h2 style="color: grey;">No recommendations yet</h2>
    }
}

<!-- ======================================================================= -->
<!-- Tickets Venues -->
<!-- ======================================================================= -->

@if (!User.Identity.IsAuthenticated)
{
    <div class="outer">
        <div class="menuwrap">
            <div class="menu">
                <ul>
                    <li><a class="text-center" href="#">Ticket Venues</a></li>
                </ul>
            </div>
        </div>
        <div class="row itemRow">
            @{ var items = Model._catalogItems.ToArray(); }
            @foreach (var item in items)
            {
                <div class="col-md-4">
                    <h3>
                        <a href="@Url.Action("Details", "Home", new
                                 {
                                     Id = item.Id
                                 })" style="color: sienna;">@item.Name</a>
                    </h3>
                    <p style="color: darkgrey;">@item.TitlesCount Concerts available</p>
                </div>
            }
        </div>
    </div>
}