@model Tenant.Mvc.Models.ConcertListViewModel
@{
    ViewBag.Title = "Cities";
}

<!-- ------------------------------------------------------------------------------------------------------------------- -->
<!-- Heading Bar -->
<!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>City Listing@(Model.SelectedCity > 0 && Model.VenueList.Any(a => a.CityId == Model.SelectedCity) ? ": " + Model.VenueList.First(a => a.CityId == Model.SelectedCity).CityName + ", " + Model.VenueList.First(a => a.CityId == Model.SelectedCity).StateName : "s")</h1>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------- -->
<!-- Content -->
<!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="container">
    
    <div class="row spacer-25">
    </div>

    <div class="row">
        
        <!-- ------------------------------------------------------------------------------------------------------------------- -->
        <!-- Concert List -->
        <!-- ------------------------------------------------------------------------------------------------------------------- -->

        <div class="col-xs-8 no-padding">
            <div class="event-panel height-660">
                @if (Model != null && Model.ConcertList.Any())
                {
                    @Html.Partial("_ConcertList", @Model.ConcertList)
                }
            </div>
        </div>
        
        <div class="col-xs-4">
            
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- City List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            
            @if (Model != null && Model.VenueList.Any())
            {
                @Html.Partial("_CityList", @Model.VenueList.OrderBy(a => a.CityName).GroupBy(a => a.CityId).Select(a => a.First()).ToList())
            }
            
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Venue List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->

            @if (Model != null && Model.VenueList.Any())
            {
                @Html.Partial("_VenueList", @Model.VenueList)
            }
            
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Date List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->

            @Html.Partial("_DateList")

        </div>
    </div>
</div>