@model Tenant.Mvc.Models.ConcertsDB.Concert
@using Newtonsoft.Json;
@using Tenant.Mvc.Models.CustomersDB
@{
    ViewBag.Title = "Find Seats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>

<style>
    ratingsPane {
        width: 200px;
        margin: 0 auto;
    }

    .labelModel {
        padding-top: 7px;
        font-size: 18px;
        margin: 0;
        color: #999999 !important;
        font-weight: normal;
    }
</style>

<div class="container">
    <div class="row clearfix">
        <div class="col-sm-12 col-md-12 column">
            <div class="banner">
                <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/mbanner-01.jpg" class="for-mobile img-responsive">
                <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/banner-01.jpg" class="for-desktop img-responsive">
                <div class="bcaption-bg ticket-bcaption-bg width100"></div>
                <div class="banner-caption ticket-bcaption width100 for-desktop">
                    <span class="b-right">@Model.Performer.ShortName</span> @Model.ConcertDate.ToString("dddd MMM. dd, yyyy h tt")
                </div>
                <div class="banner-caption ticket-bcaption width100 for-mobile">
                    <span class="b-right">@Model.Performer.ShortName</span> <span class="b-right">@Model.ConcertDate.ToString("dddd MMM. dd, yyyy h tt")</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12 col-md-12 ptickethdng for-desktop">
            <h3>@Model.Venue.VenueName - @Model.ConcertName</h3>
            <p>Details: @Model.Performer.ShortName</p>
        </div>
        <div class="col-sm-12 col-md-12 ptickethdng for-mobile">
            <h3>@Model.ConcertName</h3>
            <p>@Model.Performer.ShortName</p>
            <p class="border-bottom">Details: @Model.Venue.VenueName</p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="hidden-xs col-xs-12 col-sm-12 col-md-12 col-g-12">
            <div class="bg-color">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Ticket quantity & section selection dialog -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-g-12 PNONE1">
            <form id="frmSelection" name="frmSelection" class="floor-plan-form" role="form">
                <div class="form-group col-xs-1 col-sm-1 PNONE1 ">
                    <label class="label-name">QTY</label>
                </div>
                <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm" style="width:20%;">
                    <select id="slctQuantity" name="slctQuantity">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <option value="@i.ToString()">@i.ToString()</option>
                        }
                    </select>
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-xs-1 col-sm-1 PNONE1 ">
                    <label class="label-name">Price & Section</label>
                </div>
                <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm" style="width:40%;">
                    <select id="slctPriceSection" name="slctPriceSection">
                        @foreach (var seatLevels in Model.Venue.VenueSeatSections)
                        {
                            <option value="@(seatLevels.TicketPrice + "|" + seatLevels.TicketLevelId)">$@seatLevels.TicketPrice: @seatLevels.TicketLevelDescription</option>
                        }
                    </select>
                </div>
                <div class="pull-right">
                    @if ((Session["SessionUser"] as Customer) != null)
                    {
                        <button id="puchaseTicket" type="button" class="find-seats-link btn btn-default pull-right purchase-btn"
                                data-toggle="modal" data-target=".modal-tickets" data-backdrop="static" data-keyboard="false">
                            Purchase tickets &#62;
                        </button>
                    }
                    else
                    {
                        <button id="loginUser" type="button" class="find-seats-link btn btn-default pull-right purchase-btn"
                                data-toggle="modal" data-target=".bs-example-modal-lg" data-backdrop="static" data-keyboard="false">
                            Sign in to purchase tickets &#62;
                        </button>
                    }
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-g-12 PNONE1 img-div">
            <div id="ratingsPane" class="pull-left">
                <div id="ratings" style="text-align: left">
                    <ul id="ratingsList"></ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-g-6">
                <img class="img-responsive" src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/floor-plan.jpg" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-g-6">

                <h2 class="head pull-left">Venue</h2>
                <div class="row clearfix"></div>
                <div class="row">
                    <div class="col-xs-5">
                        <label class="label-name  pull-left">Name</label>
                    </div>
                    <div class="col-xs-7">
                        <label class="pull-right labelModel"> @Model.Venue.VenueName</label>
                    </div>
                </div>

                @if (ViewBag.VenueMetaData != null)
                {

                    if (ViewBag.VenueMetaData.Parking > 0)
                    {
                        <div class="row clearfix"></div>
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="label-name  pull-left">Parking Spaces</label>
                            </div>
                            <div class="col-xs-7">
                                <label class="pull-right labelModel">@ViewBag.VenueMetaData.Parking</label>
                            </div>
                        </div>
                    }
                    if (ViewBag.VenueMetaData.ArtistCollection != null && ViewBag.VenueMetaData.ArtistCollection.Artists != null && ViewBag.VenueMetaData.ArtistCollection.Artists.Count > 0)
                    {
                        <div class="row clearfix"></div>
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="label-name  pull-left">Performing Artists</label>
                            </div>
                            <div class="col-xs-7">
                                @foreach (var artist in ViewBag.VenueMetaData.ArtistCollection.Artists)
                                {
                                    <label class="pull-right labelModel">@artist.Name @artist.Genre</label>
                                    <div class="row clearfix"></div>
                                }
                            </div>
                        </div>
                    }
                    if (ViewBag.VenueMetaData.HasCamping)
                    {
                        <div class="row clearfix"></div>
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="label-name pull-left">Has Camping</label>
                            </div>
                            <div class="col-xs-7">
                                <label class="labelModel pull-right">Yes</label>
                            </div>
                        </div>
                    }
                    if (ViewBag.VenueMetaData.MultipleStages)
                    {
                        <div class="row clearfix"></div>
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="label-name  pull-left">Multiple Stages</label>
                            </div>
                            <div class="col-xs-7">
                                <label class="labelModel pull-right">Yes</label>
                            </div>
                        </div>
                    }
                    if (ViewBag.VenueMetaData.AdditionalInfo != null && ViewBag.VenueMetaData.AdditionalInfo.Length > 0)
                    {
                        <div class="row clearfix"></div>
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="label-name pull-left">Additional Information</label>
                            </div>
                            <div class="col-xs-7">
                                <label class="labelModel pull-right">@ViewBag.VenueMetaData.AdditionalInfo</label>
                            </div>
                        </div>
                    }

                    <div class="row clearfix" style="padding-top:10px"></div>
                    <div class="row">
                        <input type="button" value=" Display JSON &#62;" class="btn btn-default pull-right btn1" data-toggle="modal" data-target="#myModal" />
                    </div>
                }
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @if (ViewBag.VenueMetaData != null)
                            {
                                <pre style="text-align:left">@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.VenueMetaData, Formatting.Indented).ToString()</pre>
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ticket purchase dialog -->
<div class="modal fade modal-tickets" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ticketcount="0">
        <div class="modal-content no-radius">
            <div class="modal-header custom-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="row clearfix gray-bg for-desktop">
                    <div class="col-sm-7 col-md-6 colsumn nopad">
                        <div class="logo">
                            <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/ticketmaestro-logo.jpg" class="img-responsive pull-left">
                            <!--<h1 class="logo-heading"><span>wingtip</span>tickets</h1>-->
                            <h1 class="logo-heading"><span>@WingtipTicketApp.Config.TenantName.ToLower()</span></h1>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-6 column MRT-sm">
                        <p class="pull-right my-ac-hdng">Purchase tickets</p>
                    </div>
                </div>
                <div class="row clearfix for-mobile">
                    <div class="col-sm-6 col-md-6 column nopad">
                        <h3 class="m-ac-hdng">Purchase tickets</h3>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12 col-md-6 column">
                        <h3 class="form-hdng">Ticket Information</h3>
                        <ul class="list1">
                            <li>Event: @Model.ConcertName</li>
                            <li>Venue: @Model.Venue.VenueName</li>
                            <li>Date:  @String.Format("{0:D}", Model.ConcertDate)</li>
                        </ul>
                        <ul class="list2">
                            <li id="liTicketQuantity">Tickets: 1 General Admission</li>
                            <li id="liPrice">Total Cost: $@Model.Venue.VenueSeatSections[0].TicketPrice</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 column">
                        <form role="form" method="POST" action="PurchaseTicketsWithCreditCard">
                            <input type="hidden" name="concertId" value="@Model.ConcertId" />
                            <input type="hidden" name="customerId" value="@((Session["SessionUser"] is Customer) ? (Session["SessionUser"] as Customer).CustomerId : 1)" />
                            <input type="hidden" name="ticketPrice" value="@(Convert.ToInt32(Model.Venue.VenueSeatSections[0].TicketPrice))" />
                            <input type="hidden" name="ticketCount" value="1" />
                            <input type="hidden" name="seatMapId" value="@(Convert.ToInt32(Model.Venue.VenueSeatSections[0].TicketLevelId))" />

                            <h3 class="form-hdng">Payment Information</h3>
                            <div class="form-group">
                                <input type="text" class="form-control input-box" id="exampleInputEmail1" placeholder="Name On Card">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-box" id="exampleInputPassword1" placeholder="Card Number (No Dashes)">
                            </div>
                            <div class="form-group label-style col-sm-6 col-xs-6 PLN ">
                                <label class="hidden-xs" for="exampleInputEmail2">Expiration Date</label>
                                <select class="selectpicker custom-image">
                                    <option>Month</option>
                                    @{
                                        for (int i = 1; i < 13; i++)
                                        {
                                            <option>@i</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-sm-6 col-xs-6 PRN margin-top-div">
                                <select class="selectpicker custom-image">
                                    @{
                                        <option>Year</option>
                                        for (int i = 2015; i < 2021; i++)
                                        {
                                            <option>@i</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group col-sm-6 col-xs-6 PLN clearfix">
                                <input type="password" class="form-control input-box" id="exampleInputPassword1" placeholder="Security Code">

                            </div>

                            <div class="form-group col-sm-6 col-xs-6 PRN">
                                <button type="submit" id="buyTicketsWithCreditCard"
                                        name="buyTicketsWithCreditCard" class="btn btn-default btn-block blue-btn blue-btn1">
                                    Purchase Now
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>