@model Tenant.Mvc.Models.DataForAdminPortalPage
@using Tenant.Mvc.Models.ConcertsDB
@using Tenant.Mvc.Models.VenuesDB
@{
    ViewBag.Title = "AdminPortal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle-strip">
    <div class="container">
        <div class="row">
            <h1 class="seattle_ultramode">Event Administration Portal</h1>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-g-12 ">
                <form class="admin-form" role="form" method="POST" action="~/Home/AddOrDeleteConcert">
                    <h2 class="head">Event</h2>
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <label class="label-name">City</label>
                    </div>
                    <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm">
                        <select id="slctCity" name="slctCity">
                            @foreach (City city in Model.Cities)
                            {
                                <option value="@city.CityId" @(Model.SelectedCity == city.CityId ? "selected" : "")>@city.CityName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-xs-7 col-sm-6 PNONE1">
                        <input class="form-control" id="eventCity" placeholder="New City" type="text"
                               @(Model.SelectedCity == -1 ? "" : "disabled") name="eventCity">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <label class="label-name">Venue</label>
                    </div>
                    <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm">
                        <select id="slctVenue" name="slctvenue">
                            @foreach (Venue venue in Model.Venues)
                            {
                                <option value="@venue.VenueId" @(Model.SelectedVenue == venue.VenueId ? "selected" : "")>@venue.VenueName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-xs-7 col-sm-6 PNONE1">
                        <input class="form-control" id="eventVenueName" placeholder="New Venue" type="text"
                               @(Model.SelectedVenue == -1 ? "" : "disabled") name="eventVenueName">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12 col-sm-1 PNONE1">
                        <label class="label-name">Event</label>
                    </div>
                    <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm">
                        <select id="slctEvent" name="slctEvent">
                            @foreach (Concert concert in Model.Events)
                            {
                                <option value="@concert.ConcertId" @(Model.SelectedEvent.ConcertId == concert.ConcertId ? "selected" : "")>@concert.ConcertName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-xs-7 col-sm-6 PNONE1">
                        <input class="form-control" id="eventName" placeholder="New Event Name"
                               type="text" @(Model.SelectedEvent.ConcertId == -1 ? "" : "disabled") name="eventName"
                               value="@Model.SelectedEvent.ConcertName">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-1 col-sm-1 PNONE1">
                        <label class="label-name">Artist</label>
                    </div>
                    <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm">
                        <select id="slctArtist" name="slctArtist">
                            @foreach (Performer artist in Model.Artists)
                            {
                                <option value="@artist.PerformerId" @(Model.SelectedArtist == artist.PerformerId ? "selected" : "")>@artist.ShortName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-xs-7 col-sm-6 PNONE1">
                        <input class="form-control" id="eventArtist" placeholder="New Artist" type="text"
                               @(Model.SelectedArtist == -1 ? "" : "disabled") name="eventArtist"
                               value="@(Model.SelectedArtist == -1 ? "" : Model.Artists.FirstOrDefault(ar=>ar.PerformerId == Model.SelectedArtist).ShortName)">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12 col-sm-6 PNONE1">
                        <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm " style="width:30%;">
                            <select name="eventMonth" id="eventMonth">
                                <option selected>Month</option>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i" @(Model.SelectedEvent.ConcertDate != DateTime.MinValue ? (Model.SelectedEvent.ConcertDate.Month == i ? "selected" : "") : "")>@(new DateTime(2014, i, 1).ToString("MMMM"))</option>
                                }
                            </select>
                        </div>
                        <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm" style="width:30%;">
                            <select id="eventDay" name="eventDay">
                                <option selected>Day</option>
                                @for (int i = 1; i <= 31; i++)
                                {
                                    <option value="@i" @(Model.SelectedEvent.ConcertDate != DateTime.MinValue ? (Model.SelectedEvent.ConcertDate.Day == i ? "selected" : "") : "")>@i</option>
                                }
                            </select>
                        </div>
                        <div class="selectDropdn col-sm-5 col-xs-12  MRR-md MRB-sm" style="width:30%;">
                            <select id ="eventYear" name="eventYear">
                                <option selected>Year</option>
                                @for (int i = 2015; i <= 2020; i++)
                                {
                                    <option value="@i" @(Model.SelectedEvent.ConcertDate != DateTime.MinValue ? (Model.SelectedEvent.ConcertDate.Year == i ? "selected" : "") : "")>@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!--only for mobile-->
                    <div class="form-group hidden-sm hidden-md hidden-lg col-xs-12 PNONE1">
                        <textarea class="form-control textarea-style" rows="3" placeholder="Description"></textarea>
                    </div>
                    <!--only for mobile-->
                    <div class="form-group col-xs-5 col-sm-6 hidden-xs">
                        <textarea class="form-control textarea-style" rows="10" placeholder="Description"></textarea>
                    </div>
                    <div class="clearfix" style="display: none;"></div>
                    <div class="form-group col-xs-12 col-sm-6 pull-right pad-left nopadL PRN" style="display: none;">
                        <label class="radio-inline MnopadL">
                            Expected Ticket Sales Rate:
                        </label>
                        <br />
                        <label class="radio-inline">
                            <input style="height: auto;" name="saveToDatabase" id="saveToDatabase" value="primary" type="radio" @(Model.SelectedEvent == null || Model.SelectedEvent.SaveToDbServer == ShardDbServerTargetEnum.Primary ? "checked" : "")> Small
                        </label>
                        <label class="radio-inline">
                            <input style="height: auto;" name="saveToDatabase" id="saveToDatabase" value="secondary" type="radio" @(Model.SelectedEvent.SaveToDbServer == ShardDbServerTargetEnum.Shard ? "checked" : "")> Medium
                        </label>
                        <label class="radio-inline">
                            <input style="height: auto;" name="saveToDatabase" id="saveToDatabase" value="secondary" type="radio" @(Model.SelectedEvent.SaveToDbServer == ShardDbServerTargetEnum.Shard ? "checked" : "")> Large
                        </label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12 col-sm-12 PNONE1">
                        <button type="submit" class="btn btn-default pull-right btn1 add-dlt-ev" id="deleteEvent" name="deleteEvent"
                                @(((Model.SelectedEvent.ConcertId >= 0) && (Model.SelectedCity >= 0) && (Model.SelectedVenue >= 0)) ? "" : "disabled")>
                            Delete Event &#62;
                        </button>
                        <button type="submit" class="btn btn-default pull-right btn1 MRR-sm add-dlt-ev" id="addEvent" name="addEvent"
                                @(((Model.SelectedEvent.ConcertId >= 0) && (Model.SelectedCity >= 0) && (Model.SelectedVenue > 0)) ? "disabled" : "")>
                            Add Event &#62;
                        </button>

                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
    $('#slctCity').change(function () {
        window.location.href = 'ViewAdminPortal?artistId=' + $("#slctArtist").val() + '&cityId=' + $(this).val();
    });
    $('#slctVenue').change(function () {
        window.location.href = 'ViewAdminPortal?artistId=' + $("#slctArtist").val() + '&cityId=' + $("#slctCity").val() + '&venueId=' + $(this).val();
    });
    $('#slctEvent').change(function () {
        window.location.href = 'ViewAdminPortal?cityId=' + $("#slctCity").val() + '&venueId=' + $("#slctVenue").val() + '&eventId=' + $(this).val();
    });
    $('#slctArtist').change(function () {
        window.location.href = 'ViewAdminPortal?artistId=' + $(this).val() + '&cityId=' + $("#slctCity").val() + '&venueId=' + $("#slctVenue").val() + '&eventId=' + $("#slctEvent").val()
    });
</script>
