@model Tenant.Mvc.Models.DomainModels.ConcertListViewModel
@{
    ViewBag.Title = "Home";
}

<!-- ------------------------------------------------------------------------------------------------------------------- -->
<!-- Content -->
<!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="container">
    
    <!-- ------------------------------------------------------------------------------------------------------------------- -->
    <!-- Heading Bar -->
    <!-- ------------------------------------------------------------------------------------------------------------------- -->

    <div class="row">
        <div class="col-xs-12 ">
            @if (Model != null && Model.ConcertsList.Any())
            {
                @Html.Partial("_Banner", @Model.ConcertsList[0])
            }
        </div>
    </div>

    <div class="row spacer-25">
    </div>

    <div class="row">
        
        <!-- ------------------------------------------------------------------------------------------------------------------- -->
        <!-- Concert List -->
        <!-- ------------------------------------------------------------------------------------------------------------------- -->

        <div class="col-xs-8 no-padding">
            <div class="event-panel">
                @if (Model != null && Model.ConcertsList.Any())
                {
                    @Html.Partial("_ConcertList", @Model.ConcertsList)
                }
            </div>
        </div>
        
        <div class="col-xs-4">
            
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Account Panel -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->

            @Html.Partial("_Account")
            
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Venue List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            
            @if (Model != null && Model.VenuesList.Any())
            {
                @Html.Partial("_VenueList", @Model.VenuesList)
            }
        </div>
    </div>
</div>