@model Tenant.Mvc.Models.MyEventsView
@{
    ViewBag.Title = "ViewMyEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle-strip">
    <div class="container">
        <div class="row">
            <h1 class="seattle_ultramode">My Events:</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row clearfix for-mobile">
        <div class="col-xs-6 col-sm-6 col-md-6 form-group m-form-group">
            <select class="selectpicker custom-image">
                <option>Sort By Date</option>
                <option>November 2014</option>
                <option>December 2014</option>
                <option>January 2015</option>
                <option>February 2015</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group m-form-group">
            <select class="selectpicker custom-image">
                <option>Sort By Venue</option>
                <option>November 2014</option>
                <option>December 2014</option>
                <option>January 2015</option>
                <option>February 2015</option>
            </select>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12 col-md-8 column">
            <div class="left-panel scroll-pane for-ticket">
                @if (Model != null && Model.PurchasedTickets != null)
                {
                    for (int i = 0; i < Model.PurchasedTickets.Count; i++)
                    {
                        var ticket = Model.PurchasedTickets[i];
                        if (ticket == null)
                        {
                            continue;
                        }
                        <div class="cons-info">
                            <div class="@(((i % 2) == 0) ? "cons-date" : "cons-date cons-date-darkbg")">
                                <span class="cons-mon">@ticket.EventDateTime.ToString("MMM").ToUpper().Substring(0, 3)</span>
                                <span class="date-num">@ticket.EventDateTime.Day</span>
                                <span class="cons-day for-desktop">@ticket.EventDateTime.DayOfWeek.ToString().ToUpper().Substring(0, 3)</span>
                                <span class="cons-fullday for-mobile">@ticket.EventDateTime.DayOfWeek.ToString().ToUpper()</span>
                            </div>
                            <div class="cons-text">
                                <h3 class="for-desktop">@ticket.PerformerName</h3>
                                <p class="for-desktop">@ticket.VenueName</p>
                                <h3 class="for-mobile" style="margin-bottom:0px">@ticket.PerformerName</h3>
                                <p class="for-mobile" style="font-family:Conv_segoeuib;margin-bottom:10px">@ticket.VenueName, @ticket.EventDateTime.ToString("h tt")</p>
                                <div class="meventinfo for-mobile cboth">
                                    <ul>
                                        <li>Section: <span class="orange-text">@ticket.SectionName</span></li>
                                        <li>Seat: <span class="orange-text">@ticket.SeatName</span></li>
                                        <li class="nomargin noborder nopadr">QTY: <span class="orange-text">@ticket.TicketQuantity</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="eventinfo for-desktop">
                                <div class="einfo-text">
                                    <ul>
                                        <li>Quantity:</li>
                                        <li class="orange-text">@ticket.TicketQuantity ticket@(ticket.TicketQuantity > 1 ? "s" : "")</li>
                                    </ul>
                                </div>
                                <div class="einfo-text">
                                    <ul>
                                        <li>Time:</li>
                                        <li class="orange-text">@ticket.EventDateTime.ToString("t")</li>
                                    </ul>
                                </div>
                                <div class="einfo-text cboth">
                                    <ul>
                                        <li>Section:</li>
                                        <li class="orange-text">@ticket.SectionName</li>
                                    </ul>
                                </div>
                                <div class="einfo-text">
                                    <ul>
                                        <li>Seat:</li>
                                        <li class="orange-text">@ticket.SeatName</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-sm-12 col-md-4 column for-desktop">
            <div class="create-acbox height135">
                <h3>My Venues</h3>
                <ul class="near_cities">
                    @if (Model != null && Model.MyVenues != null)
                    {
                        foreach (var venue in Model.MyVenues.OrderBy(a => a.VenueName))
                        {
                            <li><a href="@Url.Action("ViewMyEvents", "Home", new { venueName = venue.VenueName })">@venue.VenueName <span class="orange-text">(@venue.Capacity)</span></a></li>
                        }
                    }
                </ul>
            </div>
            <div class="venues-box height220">
                <h3>Sort By Date</h3>
                <ul class="">
                    <li><a href="#">November 2014</a></li>
                    <li><a href="#">December 2014</a></li>
                    <li><a href="#">January 2015</a></li>
                    <li><a href="#">February 2015</a></li>
                    <li><a href="#" class="see_all">Show All Dates ></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
        </div>
        <div class="col-md-6 column">
        </div>
    </div>
</div>

