<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - @System.Environment.MachineName </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- All Style Sheet Links -->
    <link type="text/css" href="@Href("~/content/jquery.jscrollpane.css")" rel="stylesheet" media="all" />
    <link href="@Href("~/content/bootstrap.min.css")" rel="stylesheet">
    <!-- <link href="@Href("~/content/classical/style.css")" rel="stylesheet"> -->
    <link href="@Href(string.Format("~/Content/{0}/style.css", WingtipTicketApp.Config.TenantEventTypeGenre))" rel="stylesheet">
    <link href="@Href("~/content/jquery.raty.css")" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-default menu-bar-default" role="navigation">
                <div class="row clearfix">
                    <div class="col-sm-6 col-md-6 column">
                        <a href="/Home/Index">
                            <div class="logo">
                                <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/ticketmaestro-logo.jpg" class="img-responsive pull-left">
                                <!--<h1 class="logo-heading"><span>wingtip</span>tickets</h1>-->
                                <h1 class="logo-heading"><span>@WingtipTicketApp.Config.TenantName.ToLower()</span></h1>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 column">
                        <div class="search-box">
                            <form method="GET" action="/" autocomplete="off">
                                <input name="search" type="search" class="search" placeholder="SEARCH" id="search" value="@Request["search"]">
                                <button class="icon-maginfire" type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-9 column">
                    </div>
                </div>
                <nav class="navbar navbar-default menu-bar-default" style="margin-top:20px" role="navigation">
                    <div class="container-fluid nopadD">
                        @using Tenant.Mvc                        @using Tenant.Mvc.Models.CustomersDB
                        @{
                            var user = Session["SessionUser"] as Customer;
                        }
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed mnav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="arrows down-arrow for-mobile"></span>
                            <a href="#" class="msearch-icon for-mobile"></a>
                            @if (user == null || !Startup.SessionUsers.Contains(user))
                            { 
                                <a href="#" class="user-link for-mobile" data-toggle="modal" data-target=".bs-example-modal-lg"></a>
                            }
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu-bar" id="bs-example-navbar-collapse-1">
                            <ul id="navMenu" class="nav navbar-nav nav-menu">
                                <li>@Html.ActionLink("HOME", "Index", "Home", 
                                    @ViewBag.Title == "Home" ? (new { @class = "nav-menu-selected" }) : (null))</li>
                                <li>@Html.ActionLink("CITY", "ViewCity", "Home", 
                                    @ViewBag.Title == "ViewCity" ? (new { @class = "nav-menu-selected" }) : (null))</li>
                                @if (user != null && Startup.SessionUsers.Contains(user))
                                {
                                    <li>@Html.ActionLink("VENUE", "ViewVenue", "Home", 
                                        @ViewBag.Title == "ViewVenue" ? (new { @class = "nav-menu-selected" }) : (null))</li>
                                    if ((user.FirstName.CompareTo("admin") == 0))
                                    {
                                        <li>@Html.ActionLink("MY EVENTS", "ViewMyEvents", "Home", 
                                            @ViewBag.Title == "ViewMyEvents" ? 
                                            (new { @class = "nav-menu-selected" }) : (null))</li>
                                        <li>@Html.ActionLink("ADMIN", "ViewAdminPortal", "Home", 
                                            (@ViewBag.Title == "AdminPortal" ? 
                                            (new { @class = "nomargin noborder nopadr nav-menu-selected" }) : 
                                            (new { @class = "nomargin noborder nopadr" })))</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("MY EVENTS", "ViewMyEvents", "Home", 
                                            @ViewBag.Title == "ViewMyEvents" ? 
                                            (new { @class = "nomargin noborder nopadr nav-menu-selected" }): 
                                            (new { @class = "nomargin noborder nopadr" }))</li>
                                    }
                                }
                                else
                                {
                                    <li>@Html.ActionLink("VENUE", "ViewVenue", "Home", 
                                        @ViewBag.Title == "ViewVenue" ? 
                                        (new { @class = "nomargin noborder nopadr nav-menu-selected" }) : 
                                        (new { @class = "nomargin noborder nopadr" }))</li>
                                }
                            </ul>
                            <ul class="nav navbar-nav nav-menu navbar-right">
                                @if (user != null && Startup.SessionUsers.Contains(user))
                                {
                                    <li>@Html.ActionLink(("WELCOME " + user.FirstName.ToUpper()+" [SIGN OFF]"), "Logout", "Home", 
                                            new { @class = "nomargin noborder nopadr" })</li>
                                }
                                else
                                {
                                    <li><a href="#" class="nomargin noborder nopadr" data-toggle="modal" 
                                           data-target=".bs-example-modal-lg" data-backdrop="static" data-keyboard="false">My Account [SIGN IN]</a></li>
                                }
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                </nav>
        </div>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content no-radius">
                <div class="modal-header custom-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="row clearfix gray-bg for-desktop">
                        <div class="col-sm-7 col-md-6 colsumn nopad">
                            <div class="logo">
                                <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/ticketmaestro-logo.jpg" class="img-responsive pull-left">
                                <!--<h1 class="logo-heading"><span>wingtip</span>tickets</h1>-->                                
                                <h1 class="logo-heading"><span>@WingtipTicketApp.Config.TenantName.ToLower()</span></h1>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 column">
                            <p class="pull-right my-ac-hdng">My Account</p>
                        </div>
                    </div>
                    <div class="row clearfix for-mobile">
                        <div class="col-sm-6 col-md-6 column nopad">
                            <h3 class="m-ac-hdng">My Account</h3>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12 col-md-6 column">
                            <form role="form" method="POST" action="~/Home/CurrentCustomerLogin">
                                <h3 class="form-hdng">Returning Users</h3>
                                <div class="form-group">
                                    <input type="email" class="form-control input-box" name="loginUsername" placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-box" name="loginPassword" placeholder="Password">
                                </div>
                                <p class="help-block"><a href="#" class="f-pass">Forgot Password?</a></p>
                                <button type="submit" class="btn btn-default btn-block blue-btn marginb-20"
                                        id="currentCustomerRegistration" name="currentCustomerRegistration"
                                        data-backdrop="static" data-keyboard="false">
                                    Sign In
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-6 column">
                            <form role="form" method="POST" action="~/Home/NewCustomerRegistration">
                                <h3 class="form-hdng">New Account</h3>
                                <div class="form-group">
                                    <input type="text" class="form-control input-box" name="firstName" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-box" name="lastName" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control input-box" name="email" placeholder="Èmail Address">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control input-box" name="confirmEmail" placeholder="Confirm Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-box" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-box" name="confirmPassword" placeholder="Confirm Password">
                                </div>
                                <button type="submit" class="btn btn-default btn-block blue-btn"
                                        id="newCustomerRegistration" name="newCustomerRegistration">
                                    Create Account
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer starts-->
    <footer>
        <div class="top-footer">
            <div class="container ">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xs-4 PNONE">
                        <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/icon-eventsguide.jpg" />
                        <h2><a href="#">Event Guides</a></h2>
                        <h3 class="hidden-xs"><a href="#">See All Guides</a></h3>
                        <p class="hidden-xs fpara">Find the events that best suit<br />your interests.</p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-4 PNONE">
                        <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/icon-bargain.jpg" />
                        <h2><a href="#">Bargain <span class="hidden-xs inline-blk">Hunting</span></a></h2>
                        <h3 class="hidden-xs"><a href="#">View the Bargains</a></h3>
                        <p class="hidden-xs fpara">2 For 1 tickets, multi-packs, and cheap tickets: find them now.</p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-4 PNONE">
                        <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/icon-season.jpg" class="hidden-xs" />
                        <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/icon-sml-season.jpg" class="hidden-lg hidden-md hidden-sm" />
                        <h2><a href="#">Festival Season</a></h2>
                        <h3 class="hidden-xs"><a href="#">See All Festivals</a></h3>
                        <p class="hidden-xs fpara">It's festival season! Tickets, Photos, and more.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btm-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-xs-4  hidden-xs">
                        <img src="~/img/@WingtipTicketApp.Config.TenantEventTypeGenre/ticketmaestro-logo.jpg" class="img-responsive pull-left" />
                        <!--<h1 class="logo-footer"><span>wingtip</span>tickets</h1>-->
                        <h1 class="logo-footer"><span>@WingtipTicketApp.Config.TenantName.ToLower()</span></h1>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
                        <div class="footerLinks ">
                            <ul>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <!--<p>&copy; @DateTime.Now.Year wingtiptickets. All rights reserved.</p>-->
                            <p>&copy; @DateTime.Now.Year @WingtipTicketApp.Config.TenantName.ToLower(). All rights reserved.</p>
                            <p><b>PrimaryDbServer:</b> @ViewBag.PrimaryDbServerName</p>
                            <p><b>SiteHost:</b>  @ViewBag.SiteHostName</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- All Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jscrollpane.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script> 
    <script src="~/Scripts/jquery.raty.js"></script>
    <script>
        $(function () {
            if ($(window).width() >= 768) {
                $('.scroll-pane').jScrollPane({ showArrows: true });
            };
            $(".mnav").on("click", function () {
                $(".arrows").toggleClass("up-arrow");
            });
            $('.selectpicker').selectpicker();

            $('#search').autocomplete({
                source: "/home/AutoCompleteEvents"
            });

            $.fn.raty.defaults.path = '/img';

            $('#score').raty();
        });
    </script>
    @Html.Raw(TempData["msg"])
</body>
</html>
