@using System.Security.Claims
@using TenantProvisioning.Mvc.Helpers
@model TenantProvisioning.Mvc.Models.SignUpViewModel
@{
    ViewBag.Title = "SignUp";
}

<!-- -------------------------------------------------------------------------------------------------------------------------- -->
<!-- ERROR PANEL -->
<!-- -------------------------------------------------------------------------------------------------------------------------- -->

@{ bool hasErrors = ViewBag.Errors != null && ViewBag.Errors.Count > 0; }

<div class="alert alert-danger" @if (!hasErrors) { <text> style="display: none" </text> } role="alert">
    <ul>
        @if (hasErrors)
        {
            foreach (string error in ViewBag.Errors)
            {
                <text><li>@error</li></text>
            }
        }
    </ul>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>New Account</h1>
    </div>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------------- -->
<!-- AZURE INFORMATION -->
<!-- -------------------------------------------------------------------------------------------------------------------------- -->

 @using (Html.BeginForm("Index", "SignUp", FormMethod.Post, new { @class = "form-horizontal" }))
 {
     @*@Html.HiddenFor(model => model.ProvisioningOption)*@
     
     if (Request.IsAuthenticated)
     {
         <!-- -------------------------------------------------------------------------------------------------------------------------- -->
         <!-- ACCOUNT INFORMATION -->
         <!-- -------------------------------------------------------------------------------------------------------------------------- -->

         <div @*style="display: none"*@>
             <div class="row row-underline">
                 <div class="col-sm-12">
                     <h3>Account Information</h3>
                 </div>
             </div>

             <div class="spacer-15">
             </div>

             <div class="row">
                 <div class="col-xs-6">
                     <div class="form-group">
                         <div class="col-sm-12">
                             @Html.TextBoxFor(model => model.FirstName, new
                             {
                                 @class = "form-control", @placeholder = "First Name"
                             })
                             @Html.ValidationMessageFor(model => model.FirstName)
                         </div>
                     </div>
                 </div>
                 <div class="col-xs-6">
                     <div class="form-group">
                         <div class="col-sm-12">
                             @Html.TextBoxFor(model => model.LastName, new
                             {
                                 @class = "form-control", @placeholder = "Last Name"
                             })
                             @Html.ValidationMessageFor(model => model.LastName)
                         </div>
                     </div>
                 </div>
             </div>

             <div class="row">
                 <div class="col-xs-6">
                     <div class="form-group">
                         <div class="col-sm-12">
                             @Html.DropDownListFor(model => model.SubscriptionId, (SelectList)@ViewBag.Subscriptions, new
                             {
                                 @class = "form-control",
                                 @placeholder = "Subscription"
                             })
                             @Html.ValidationMessageFor(model => model.SubscriptionId)
                         </div>
                     </div>
                 </div>
                 <div class="col-xs-6">
                     <div class="form-group">
                         <div class="col-sm-12">
                             @Html.DropDownListFor(model => model.Day1DataCenter, (SelectList)@ViewBag.Day1DataCenters, new
                             {
                                 @class = "form-control",
                                 @placeholder = "Data Center"
                             })
                             @Html.ValidationMessageFor(model => model.Day1DataCenter)
                         </div>
                     </div>
                 </div>
             </div>

             <div class="row">
                 <div class="col-xs-6">
                     <div class="form-group">
                         <div class="col-sm-12">
                             @Html.DropDownListFor(model => model.ThemeId, (SelectList)@ViewBag.Themes, new
                             {
                                 @class = "form-control",
                                 @placeholder = "Site Theme"
                             })
                             @Html.ValidationMessageFor(model => model.ThemeId)
                         </div>
                     </div>
                 </div>
                 <div class="col-xs-6">
                     <div class="form-group">
                         <div class="col-sm-12">
                             @Html.DropDownListFor(model => model.Day2DataCenter, (SelectList)@ViewBag.Day2DataCenters, new
                             {
                                 @class = "form-control",
                                 @placeholder = "Data Center"
                             })
                             @Html.ValidationMessageFor(model => model.Day2DataCenter)
                         </div>
                     </div>
                 </div>
             </div>
             
             <div class="row">
                 <div class="col-xs-6">
                     <div class="form-group">
                         <div class="col-sm-12">
                             @Html.TextBoxFor(model => model.SiteName, new
                             {
                                 @class = "form-control",
                                 @placeholder = "SiteName",
                             })
                         </div>
                     </div>
                 </div>
                 <div class="col-xs-6">
                 </div>
             </div>
         </div>

         <!-- -------------------------------------------------------------------------------------------------------------------------- -->
         <!-- ACTIONS -->
         <!-- -------------------------------------------------------------------------------------------------------------------------- -->

         <div class="row" @*style="display: none"*@>
             <div class="col-xs-6">
                 <div class="form-group">
                     <div class="col-sm-12">
                         <button type="submit" class="btn btn-info" style="width: 250px;">Create Account</button>
                     </div>
                 </div>
             </div>
         </div>
    }
}
    
@section scripts {
    <script type="text/javascript">

        $(document).ready(function ()
        {
            $("#FirstName").change(function ()
            {
                updateSiteName();
            });

            $("#LastName").change(function ()
            {
                updateSiteName();
            });

            $("#ThemeId").change(function ()
            {
                updateSiteName();
            });

            $("#btnMicrosoftAccount").click(function () {
                $("#btnOrganisationAccount").hide();
                $("#btnBack").show();
                $("#divMicrosoftAccount").show("slow");
            });

            $("#btnBack").click(function () {
                $("#btnBack").hide();
                $("#divMicrosoftAccount").hide();
                $("#btnOrganisationAccount").show("slow");
            });

            $("#SubscriptionId").change(function (evt) {

                if ($(this).val() != "")
                {
                    fetchDataCenters(1, $(this).val(), '#Day1DataCenter');
                    fetchDataCenters(2, $(this).val(), '#Day2DataCenter');
                }
            });
        });

        function fetchDataCenters(signupDay, subscriptionId, ctrlName)
        {
            $.ajax({
                url: "@Url.Action("FetchDataCenters", "SignUp")",
                type: 'GET',
                data:
                {
                    day: signupDay,
                    subscriptionId: subscriptionId
                },
                success: function (datacenters)
                {
                    // Find DataCenter Lookup
                    var $select = $(ctrlName);

                    // Remove old entries
                    $select.find('option')
                        .remove().end();

                    // Add new entries
                    $.each(datacenters, function (i, datacenter) {
                        $('<option>', {
                            value: datacenter.Code
                        }).html(datacenter.Name).appendTo($select);
                    });

                },

                error: function(xhr)
                {
                    alert("Could not find any DataCenters for Selected Subscription");
                }
            });
        }

        function updateSiteName()
        {
            var firstName = $("#FirstName").val();
            var lastName = $("#LastName").val();
            var themeId = $("#ThemeId").val();
            var sitename = "";

            if (firstName.length > 0 && lastName.length > 0) {

                // DeprovisionComponent the tenant services
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSiteName", "SignUp")",
                    async: false,
                    data: { themeId: themeId },
                    dataType: 'json',
                    cache: false
                }).done(function(data)
                {
                    var sitename = firstName[0] + lastName[0] + data.SiteName;
                    $("#SiteName").val(sitename.toLowerCase());
                });
                
            }
        }

    </script>
}