@model Tenant.Mvc.Core.Models.ConcertListModel
@{
    ViewBag.Title = "Venues";
}

<!-- ------------------------------------------------------------------------------------------------------------------- -->
<!-- Heading Bar -->
<!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1> Venue Listing@(Model.SelectedVenue > 0 && Model.ConcertsList.Any(a => a.VenueId == Model.SelectedVenue) ? ": " + Model.ConcertsList.First(a => a.VenueId == Model.SelectedVenue).VenueModel.VenueName : "s")</h1>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------- -->
<!-- Content -->
<!-- ------------------------------------------------------------------------------------------------------------------- -->

<div class="container">
    <div class="row spacer-25">
    </div>

    <div class="row">
        
        <!-- ------------------------------------------------------------------------------------------------------------------- -->
        <!-- Concert List -->
        <!-- ------------------------------------------------------------------------------------------------------------------- -->

        <div class="col-xs-8 no-padding">
            <div class="event-panel height-660">
                @if (Model != null && Model.ConcertsList.Any())
                {
                    @Html.Partial("_ConcertList", @Model.ConcertsList)
                }
            </div>
        </div>
        
        <div class="col-xs-4">

            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- City List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            @if (Model != null && Model.VenuesList.Any())
            {
                @Html.Partial("_CityList", @Model.VenuesList.OrderBy(a => a.VenueCityModel.CityName).GroupBy(a => a.VenueCityModel.CityId).Select(a => a.First()).ToList())
            }

            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Venue List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            @if (Model != null && Model.VenuesList.Any())
            {
                @Html.Partial("_VenueList", @Model.VenuesList)
            }

            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Date List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            @Html.Partial("_DateList")

        </div>
    </div>
</div>