@model Tenant.Mvc.Models.CustomerEventsViewModel
@{
    ViewBag.Title = "My Events";
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>My Events:</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    
    <div class="row spacer-25">
    </div>

    <div class="row">
        <div class="col-xs-8 no-padding">
            
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Ticket List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->

            <div class="event-panel height-660">
                @{
                    if (Model != null && Model.TicketList != null)
                    {
                        var ticketIndex = 0;

                        foreach (var ticket in Model.TicketList)
                        {
                            <div class="event-block">
                                <div class="@((ticketIndex % 2) == 0 ? "event-date" : "event-date event-date-shaded")">
                                    <span class="event-date-top">@ticket.ConcertDate.ToString("MMM").ToUpper()</span><br />
                                    <span class="event-date-mid">@ticket.ConcertDate.Day</span><br />
                                    <span class="event-date-btm">@ticket.ConcertDate.DayOfWeek.ToString().ToUpper().Substring(0, 3)</span><br />
                                </div>

                                <div class="event-info">
                                    <h3 class="event-performer" data-concertId="@ticket.ConcertId" data-performerId="@ticket.PerformerId" data-venueId="@ticket.VenueId">@ticket.PerformerName</h3>
                                    <div style="float: left">
                                        <p class="event-venue">@ticket.VenueName</p>
                                    </div>
                                </div>
                                
                                <div class="event-detail">
                                    <ul>
                                        <li class="event-detail-heading">Quantity:</li>
                                        <li class="highligted-text">@ticket.TicketQuantity ticket@(ticket.TicketQuantity > 1 ? "s" : "")</li>

                                        <li class="event-detail-heading">Section:</li>
                                        <li class="highligted-text">@ticket.SectionName</li>
                                    </ul>
                                    <ul>
                                        <li class="event-detail-heading">Time:</li>
                                        <li class="highligted-text">@ticket.ConcertDate.ToString("t")</li>

                                        <li class="event-detail-heading">Seat:</li>
                                        <li class="highligted-text">@ticket.SeatName</li>
                                    </ul>
                                </div>
                            </div>

                            ticketIndex++;
                        }
                        
                        if (!Model.TicketList.Any())
                        {
                            <div><p>No Events or Tickets purchased</p></div>
                        }
                    }
                }
            </div>
        </div>
        
        <div class="col-xs-4">
            
            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Venue List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->

            <div class="row box-light height-260">
                <h3>My Venues</h3>

                <ul>
                    @if (Model != null && Model.VenuesList != null)
                    {
                        foreach (var venue in Model.VenuesList.OrderBy(a => a.VenueName))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Events", new { venueId = venue.VenueId })">@venue.VenueName <span class="highligted-text">(@venue.Capacity)</span></a>
                            </li>
                        }
                    }
                    
                    <li><a href="@Url.Action("Index", "Events")">See All Venues ></a></li>
                </ul>
            </div>

            <!-- ------------------------------------------------------------------------------------------------------------------- -->
            <!-- Date List -->
            <!-- ------------------------------------------------------------------------------------------------------------------- -->

            @Html.Partial("_DateList")

        </div>
    </div>
</div>

